//
   Created by Maede on 18.04.2015.
extends layout
var userHandler = require("./loginHandler.js");
var user = userHandler.getLogin(req.session.user_id);
block content
    script(type='text/javascript' src="/javascript/jquery-1.11.2.min.js")
    script(type='text/javascript' src="/javascript/handlebars-v3.0.1.js")
    script(type='text/javascript' src="/javascript/clientHandler.js")
    script(type="text/x-handlebars-template" id="contentTemplate").
        <div id=links>
            <table>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Author</th>
                    <th>Rating</th>
                </tr>
            {{#each data}}
            {{#if this}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{url}}</td>
                    <td>{{author}}</td>
                    <td>{{rating.value}}</td>
                    <td><button data-id={{id}} class="upvote">&uarr;</button></td>
                    <td><button data-id={{id}} class="downvote">&darr;</button></td>
                    {{#if req.session.user_i}}
                        <td><button data-id={{id}} class="deletelink">DELETE</button></td>
                    {{/if}}
                </tr>
            {{/if}}
            {{/each}}
            </table>
        </div>
    script(type="text/x-handlebars-template" id="loginTemplate").
        {{#if name}}
            You're loggin in as {{name}}
            <button id="logout">Logout</button>
            <p>
            <form id="newLink" action="/links" method="post">
                Add new link:</br>
                <label>Title: </label>
                <input type="text" id="title" required=true></br>
                <label>URL: </label>
                <input type="url" id="url" required=true pattern="https?://.+"></br>
                <button id="postNewLink">Post Link</button>
                <p>
            </form>
        {{else}}
            <form id="loginForm" action="/login" method="post">
                <label>Username</label>
                <input type="text" id="username" required=true>
                <label>Password</label>
                <input type="password" id="password" required=true>
                <button id="login">Login</button>
            </form>
            <br>
        {{/if}}
    h1 Reddit clone 2.0
    body
        //div
        //    form(id="newLink" action="/links" method="put")
        //        label Title
        //        input(type="text" id="title" required=true)
        //        br
        //        label URL
        //        input(type="url" id="url" required=true pattern="https?://.+")
        //        br
        //        label Author
        //        input(type="text" id="username")
        //        br
        //        button(id="postNewLink") Post Link
        //div
        #loginContent

        #linkContent

        //table
        //    tr
        //        th ID
        //        th Title
        //        th URL
        //        th Author
        //        th Rating
        //    each link in links
        //        tr
        //            td #{link.id}
        //            td #{link.title}
        //            td #{link.url}
        //            td #{link.author}
        //            td #{link.rating.value}
        //p
        //button(onclick='postLink("Golem","www.golem.de","#{username}")') Create new sample link
