//
   Created by Maede on 18.04.2015.
extends layout

block content
    script(type='text/javascript' src="/javascript/clientHandler.js")
    script(type='text/javascript' src="/javascript/jquery-1.11.2.min.js")
    script(type='text/javascript' src="/javascript/handlebars-v3.0.1.js")
    h1 Reddit
    body
        table
            tr
                th ID
                th Title
                th URL
                th Author
                th Rating
            each link in links
                tr
                    td #{link.id}
                    td #{link.title}
                    td #{link.url}
                    td #{link.author}
                    td #{link.rating.value}
        p
        button(onclick='postLink("Golem","www.golem.de","#{username}")') Create new sample link
        script(type="text/x-handlebars-template" id="linkData").


