//
   Created by Maede on 18.04.2015.
extends layout

block content
    script(type='text/javascript' src="/javascript/jquery-1.11.2.min.js")
    script(type='text/javascript' src="/javascript/handlebars-v3.0.1.js")
    script(type='text/javascript' src="/javascript/clientHandler.js")
    script(type="text/x-handlebars-template" id="contentTemplate").
        <div>
            <form id="newLink" action="/links" method="put">
                <label>Title</label>
                <input type="text" id=title><br>
                <label>URL</label>
                <input type="text" id=url><br>
                <label>Author</label>
                <input type="text" id=username><br>
                <button id=postNewLink onclick="submitLink()">Post Link</button>
            </form>
        </div>
        <p>
        <div id=links>
            <table>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Author</th>
                    <th>Rating</th>
                </tr>
            {{#each data}}
            {{#if this}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{url}}</td>
                    <td>{{author}}</td>
                    <td>{{rating.value}}</td>
                    <td><button onclick="upVote({{id}})">&uarr;</button></td>
                    <td><button onclick="downVote({{id}})">&darr;</button></td>
                    <td><button onclick="deleteLink({{id}})">DELETE</button></td>
                </tr>
            {{/if}}
            {{/each}}
            </table>
        </div>
    h1 Reddit clone 2.0
    p Add new link:
    body
        #linkContent
        //table
        //    tr
        //        th ID
        //        th Title
        //        th URL
        //        th Author
        //        th Rating
        //    each link in links
        //        tr
        //            td #{link.id}
        //            td #{link.title}
        //            td #{link.url}
        //            td #{link.author}
        //            td #{link.rating.value}
        //p
        //button(onclick='postLink("Golem","www.golem.de","#{username}")') Create new sample link

